---
import Image from "astro/components/Image.astro";
import Social from "@components/Others/Social.astro";

import Ignacio from "@img/crew/Ignacio_pixel.webp";
import Andrea from "@img/crew/Andrea_pixel.webp";
import Jesus from "@img/crew/Jesus_pixel.webp";
import Jorge from "@img/crew/Jorge_pixel.webp";
import LareiraLogo from "@public/lareira-isotipo.svg";
import Wrapper from "@components/Others/Wrapper.astro";

const crew = [
  {
    name: "Nacho Espósito",
    src: Ignacio,
    alt: "Miembro del equipo",
    role: "Founder",
    job: "Software developer",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    redes: [
      { icon: "Linkedin", url: "https://www.linkedin.com/in/ignacio.../" },
    ],
    groups: [{ icon: "Sysarmy", url: "" }],
  },
  {
    name: "Andrea Magán",
    src: Andrea,
    alt: "Andrea Magán",
    role: "Presentadora",
    job: "Front developer",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    redes: [
      { icon: "Linkedin", url: "https://www.linkedin.com/in/andreamaganrey/" },
    ],
    groups: [
      { icon: "Coruña WTF", url: "" },
      { icon: "Sysarmy", url: "" },
    ],
  },
  {
    name: "Jesús Pérez Roca",
    src: Jesus,
    alt: "Jesús Pérez Roca",
    role: "Beerworking",
    job: "Profesor",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    redes: [{ icon: "Linkedin", url: "https://www.linkedin.com/in/jesus../" }],
    groups: [
      { icon: "Python", url: "" },
      { icon: "Coruña WTF", url: "" },
    ],
  },
  {
    name: "Jorge Teixeira",
    src: Jorge,
    alt: "Jorge Teixeira",
    role: "Tesorero",
    job: "Software developer",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    redes: [{ icon: "Linkedin", url: "https://www.linkedin.com/in/juan.../" }],
    groups: [{ icon: "Sysarmy", url: "" }],
  },
];
---

<Wrapper>
  <div class="flex flex-col xl:flex-row justify-between gap-4">
    <div class="crew-container place-content-center basis-1/2">
      <h1 class="text-5xl font-bold mb-8">The crew</h1>
      <p class="text-l mb-8">
        Somos un grupo de apasionados por la tecnología, cada uno en su área,
        pero unidos por un objetivo común: crear espacios donde las comunidades
        locales puedan conectarse y compartir ideas. Así nació Lareiraconf, un
        proyecto que comenzó de una chispa en unas admincañas (como no podía ser
        de otra manera) y que nos ha llevado hasta aquí.
      </p>
      <p class="text-l mb-8">
        Queremos que este evento sea ese punto de encuentro donde surjan ideas y
        conexiones que inspiren a todos. Detrás de cada charla, de cada detalle,
        está nuestro compromiso por hacer de LareiraConf un evento memorable
        para la comunidad.
      </p>
    </div>
    <div
      class="flex flex-wrap gap-2 w-full h-full basis-1/2 place-content-center"
    >
      {
        crew.map((crewMate) => {
          return (
            <div id="card-crew-animate" class="flip-container pointer">
              <div class="flipper">
                <div class="front h-full">
                  <div class="border border-8 border-black p-4 text-center h-full">
                    <Image
                      src={crewMate.src}
                      alt={crewMate.alt}
                      class="crew-img border border-8 border-black"
                    />
                    <footer class="flex flex-col justify-between p-2">
                      <h3 class="text-xl  tracking-widest">{crewMate.name}</h3>

                      <p class="text-xs mb-2">{crewMate.job}</p>
                      <p class="text-s mb-4">{crewMate.role}</p>
                    </footer>
                  </div>
                </div>
                <div class="flex flex-col gap-4 items-center back border border-8 border-black p-4 dotted-bg">
                  <div class="flex items-center">
                    <div class="logo flex p-4 relative">
                      LAREIRA CONF
                      <Image
                        src={LareiraLogo}
                        alt="lareira isotipo"
                        class="isotipo"
                      />
                    </div>
                  </div>
                  <section class="groups flex flex-col p-2 w-full">
                    <p class="text-xs">Comunidades:</p>
                    <div class="flex flex-wrap gap-2 items-center whitespace-nowrap">
                      {crewMate.groups.map((item) => {
                        return <span class="tag">{item.icon} </span>;
                      })}
                    </div>
                  </section>

                  <div class="description p-4 text-center flex flex-col flex-grow justify-around items-center">
                    <p class="text-xs">{crewMate.description}</p>
                    {crewMate.redes.map((item) => {
                      return (
                        <div>
                          {item.icon === "Linkedin" && (
                            <Social
                              href={item.url}
                              platform="linkedin"
                              class="text-blue-500 hover:underline mr-2"
                            />
                          )}
                        </div>
                      );
                    })}
                  </div>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</Wrapper>

<style>
  .logo {
    background-color: var(--secondary);
    color: var(--text-primary);
  }

  .groups,
  .description {
    background-color: var(--primary);
    color: var(--text-secondary);
  }

  .tag {
    background-color: var(--secondary);
    color: var(--text-primary);
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }

  .isotipo {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 40px;
    bottom: 18px;
  }

  .crew-img {
    width: 100%;
  }
</style>
